@(tweets: List[domain.TweetWithLinks], range: org.joda.time.Interval)

Welcome to another edition of #ThisWeekInScala!

<strong>New Stuff</strong>

<ul>
    <li>Stuff to go here...</li>
</ul>

<strong>Old Stuff</strong>

This week I offer you...

<strong>Blogs &amp; Tutorials</strong>

<ul>
    <li>Stuff to go here...</li>
</ul>

<strong>Tweets between @range.getStart and @range.getEnd</strong>
<ul>
    @for(tweet <- tweets) {
        <li>
            @tweet._1.id - @tweet._1.username.getOrElse("?") - @tweet._1.displayName.getOrElse("?") - @tweet._1.date <br/>
            @tweet._1.text [@tweet._1.rank]<br/>
            @for(link <- tweet._2) {
                <a href="@link.url">@link.url"</a> <br/>
            }
        </li>
    }
    </ul>

---

That's all folks.  You can get in touch with me directly via <a href="mailto:chrisc@@cakesolutions.net" target="_blank">email</a> or on <a href="https://twitter.com/chriscundill">Twitter</a> (@@ChrisCundill) with any Scala news, events or content.  Tip: Tweet about your content using hashtag #Scala.
