@(tweets: List[core.Tweet])(implicit request: play.api.mvc.Request[AnyContent])

@main("Tweets list") {

    <h1>Tweets list</h1>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Display name</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            @for(tweet <- tweets) {
                <tr>
                    <td>@tweet.date</td>
                    <td>@tweet.displayName</td>
                    <td>@tweet.text</td>
                </tr>
            }
        </tbody>
    </table>
}

